.areaTotal {
    height: 64vh;
    background-color: black;
    padding: 15px;
    box-sizing: border-box;
    padding-top: 9vh;

    background-image: linear-gradient(90deg, rgba(0,0,0,0.9752275910364145) 31%, rgba(9,9,9,0.7035189075630253) 57%, rgba(0,0,0,0.4738270308123249) 81%), var(--img);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.movieTitle {
    color: white;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 15px;

}

.ratingAndRelease {
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
}

.overview {
    color: gray;
    max-width: 400px;
    margin-bottom: 15px;

}

.rating {
    color: rgb(71,161,93);

}

.btnArea {
    max-width: 350px;
    display: flex;
    align-items: center;
    height: 60px;
}

.btnArea button {
    height: 40px;
    font-size:18px;
    font-weight: bold;
    padding:  12px 25px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    opacity: 1;
    box-sizing: border-box;
}

.watchButton, .listButton {
    background-color: thistle;
    height: 40px;
    box-sizing: border-box;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}

.watchButton {
    background-color: rgba(255,255,255,255);
    color: rgba(4,4,4,255);
    margin-right: 10px;
}

.listButton {
    background-color: rgba(51,51,51,255);
    color: white;
}

.watchButton:hover {
    background-color: rgba(4,4,4,255);
    color: rgba(255,255,255,255);
}

.listButton:hover {
    background-color: white;
    color: rgba(51,51,51,255);
}
