.listArea {
    height: 30vh;
    box-sizing: border-box;
    color: white;
    

}

.listArea:hover .leftIcon,
.listArea:hover .rightIcon {
    opacity: 1;
}

.title {
    padding: 15px 0 5px 20px;
    font-size: 1.3em;
    font-weight: 600;
    color: white;
}

.movieArea {
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-y: hidden;
    overflow: hidden;
    padding: 0 10px;

    transition: all ease 0.5s;

    
}

.movieArea::-webkit-scrollbar {
    display: none;
}

.leftIcon, .rightIcon {
    position: absolute;
    z-index: 9999;
    width: 40px;
    height: 24vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: all ease 0.5s;
}

.leftIcon {
    left: 0;
}

.rightIcon {
    right: 0;
}

@media screen and (max-width: 1024px) {
    .leftIcon, .rightIcon {
        opacity: 1;
    }

    .movieArea {
        overflow: hidden;
    }
}


