.listArea {
    background-color: black;
    height: 30vh;
    box-sizing: border-box;

}

.title {
    padding: 15px 0 5px 20px;
    font-size: 1.3em;
    font-weight: 600;
    color: white;
}

.movieArea {
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 1%;
    padding: 0 10px;
    
}

.movieArea::-webkit-scrollbar {
    display: none;
}



