@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(24,20,20);
  min-width: 360px;
}

div {
  min-width: 360px;
}

* {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

}

.loading {
  align-self: center;
}

